src/main/mule/trainingdayone.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:s3="http://www.mulesoft.org/schema/mule/s3" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/s3 http://www.mulesoft.org/schema/mule/s3/current/mule-s3.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<s3:config name="Amazon_S3_Configuration" doc:name="Amazon S3 Configuration" doc:id="18500524-08a0-4438-968c-6c8cae5f699b" >
		<s3:basic-connection accessKey="AKIAYZP3OH36RFWNECFG" secretKey="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" region="US_EAST_2"/>
	</s3:config>
	<file:config name="WriteXML_TempDir" doc:name="File Config" doc:id="9cbc9c79-292d-4220-9915-8d9db58dc3c0" >
		<file:connection workingDir="C:\\Temp\\" />
	</file:config>
	<flow name="trainingdayoneFlow" doc:id="8b0ca5f2-545a-4438-ae81-291b271fd666" >
		<scheduler doc:name="Scheduler" doc:id="cf9b9f0e-3602-413b-9b3f-9741be0b9462" >
			<scheduling-strategy >
				<fixed-frequency frequency="10" startDelay="3" timeUnit="SECONDS"/>
			</scheduling-strategy>
		</scheduler>
		<s3:get-object doc:name="Get JSON Object" doc:id="8cbf4c4c-72c0-4fd4-b7e2-2c1e043537fc" config-ref="Amazon_S3_Configuration" bucketName="dayonetraining" key="Accounts data.json">
			<error-mapping targetType="APP:Error" />
		</s3:get-object>
		<logger level="INFO" doc:name="Log Inbound Payload" doc:id="6fc121cc-1511-4def-95c5-1052c979e807" message="#[payload]" />
		<ee:transform doc:name="Create XML Contacts" doc:id="3c618a17-12d6-48d9-baf0-c039182a38f7" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
"Contacts" : payload.Accounts.*Account.Contacts]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<file:write doc:name="Write XML to File" doc:id="f1772ce4-2822-4b8d-a5b5-9a5543cffdbd" config-ref="WriteXML_TempDir" path="Original_ContactOutput.xml" />
		<ee:transform doc:name="Validate Date" doc:id="87c8ba4b-c9d0-4c8f-be64-5e8b4b30d2aa">
			<ee:message>
				<ee:set-payload><![CDATA[ %dw 2.0
output application/xml
---
//payload.Contacts.*Contact [?.@id == "CreatedDate" and ?.@value.isBefore('11/17/2019') ] reduce $$
{
	Contacts: payload.Contacts.*Contact filter $.CreatedDate == '4/12/2019'
	map {
		ContactName: $.ContactName,
		Title: $.Title,
		Email: $.Email,
		Phone: $.Phone,
		DOB: $.DOB,
		CreatedBy: $.CreatedBy,
		CreatedDate: $.CreatedDate
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<file:write doc:name="Write Modified XML to File" doc:id="59a4b300-efc3-4581-a78c-7460a97d921d" path='Modified_ContactOutput.xml' config-ref="WriteXML_TempDir"/>
		<ee:transform doc:name="Transform Message" doc:id="fcfd1270-6f68-4dc3-9e68-9bd928fcf1e4" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Contacts" : payload
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="543af414-11f4-49c5-86dd-ce1033258584" />
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="9324a62a-55f7-4b18-bc05-bb17805b23e1" >
				<logger level="INFO" doc:name="Logger" doc:id="173ea761-54ad-4234-9538-7567e4f82eed" />
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
